// GENERAL//

// Variables police//

$font-text: 'roboto';
$font-title: 'shrikhand';

// Variables couleurs//

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
$grey-color : #7E7E7E;


h1 {
    font-family: $font-text;
    font-size: 18px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

h2 {
    font-family: $font-text;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-family: $font-text;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

// FAIRE OMBRAGE LOCATION//
.location {
    background-color: #EAEAEA;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: inset 0px 10px 10px -12px $grey-color;
    gap : 17px;
}

.exploration {
    background-color: $background-color;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
        .exploration__title {
            display: flex;
            text-align: center;
            align-items: center;
            padding-left: 42px;
            padding-right: 58px; 
        }
        .exploration__description {
            display: flex;
            text-align: center;
            align-items: center;
          
            padding-left: 34px;
            padding-right: 26px; 
        }
}

.exploration__btn {
    height: 50px;
    border-style: none;
    border-radius: 25px;
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 0px 5px 10px -5px $grey-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18.75px;
    padding-right: 18.75px;
    transition: all 300ms;
        &:hover {
            cursor: pointer;
            filter: opacity(0.90);
            box-shadow: 0px 0px 20px -5px $grey-color; 
        }
        span {
            color: white;
            font-family: $font-text;
            font-size: 16px;
            font-weight: 500; 
        }
}

.fonctionnement {
    padding-top: 48px;
    padding-bottom: 68px;
    .fonctionnement__title {
        font-family: $font-text;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        padding-bottom: 26px;
    }
    .fonctionnement__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 25px;
        padding-left: 32.51px;
        padding-right: 20px;
        .fonctionnement__list__rectangle {
            display: flex;
            align-items: center;
            height: 72px;
            width: 100%;
            border-radius: 20px;
            background-color: $background-color;
            gap: 27px;
            box-shadow: 0px 5px 15px -10px $grey-color;
                span {
                    font-family: $font-text;
                    font-size: 16px;
                    font-weight: 500;
                }    
        }
    }
}

.fonctionnement__list__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    font-family: $font-text;
    font-size: 14.182px;
    font-weight: 500;
    margin: -11px;
        .fa-solid {
            color: $grey-color;
        }
}       

.fa-mobile-screen-button, .fa-list-ul {
    color: $grey-color;
}

.fa-store {
    color: $primary-color; 
}

footer {
   
    display: flex;
    flex-direction: column;
    background-color:#353535;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 22px;
    padding-top: 22px;
    gap: 16px;
    .footer__title {
        font-family: $font-title;
        color: white;
        font-size: 18px;
        font-weight: 400;
    }  
    .footer__link {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap : 7px;
        padding: 0;
        margin: 0;
            a {
            display: flex;
            gap: 11px;
            color : white;
            font-family: $font-text;
            font-size: 16px;
                .fa-utensils, .fa-handshake-angle {
                    height: 13px;
                    width: 11px;
                }
        }
}
}