// GENERAL//

// Variables police//

$font-text: 'roboto';
$font-title: 'shrikhand';

// Variables couleurs//

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color: #008766;

$background-color: #F6F6F6;
$background-footer-color: #353535;
$backgroud-location-color: #EAEAEA;
$grey-color: #7E7E7E;

$txt-white-color: #FFFFFF;


// MEDIA QUERIES //
@media (min-width: 768px) {
    .menu {
        padding: none;
    }

    .restaurants__cards {
        gap: 50px;
    }

    .restaurants__title,
    .card {
        margin: 0px 15% 0px 15%;
    }

    .recipe__title {
        padding: 0px 15%;
    }

    .fonctionnement {
        margin: 0px 15% 0px 15%;
    }
}


@media (min-width: 1024px) {

    .header__restaurants {
        a {
            position: absolute;
            left: 200px;
        }
    }

    .main-container {
        gap: 30px;
    }

    .exploration {
        gap: 18px;
    }

    .fonctionnement {
        padding: 50px 10% 50px 10%;

        .fonctionnement__list {
            flex-direction: row;
            gap: 40px;
        }
    }

    .restaurants {
        padding: 25px 10% 25px 10%;

        .restaurants__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10%;
            grid-row-gap: 50px;
        }
    }

    .restaurants__title,
    .card,
    .recipe__title {
        margin: 0px;
    }

    .recipe__title {
        padding: 0;
    }

    .fonctionnement {
        margin: 0px;
    }

    footer {
        height: 114px;
        padding: 30px 25px 30px 25px;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 60px;

        .footer__link {
            flex-direction: row;
            gap: 30px;
        }
    }

    .menu {
        margin: 0px 8%;
    }

    .recipe {
        padding: 0px 20%;
    }
}