// GENERAL//

// Variables police//

$font-text: 'roboto';

// Variables couleurs//

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color: #008766;
$background-color: #F6F6F6;
$grey-color : #7E7E7E;

.header__restaurants {
    display: flex;

}

.background-img {
    width: 100%;
}

.menu {
    display: flex;
    border-radius: 40px 40px 0px 0px;
    background-color: $background-color;
    gap :40px;
}

.menu__title {
    display: flex;
    justify-content: space-between;
}

.recipe {
    display: flex;
    gap : 12px;

}