* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
}

h1 {
  font-family: "roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: "roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-family: "roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
}

.logo {
  width: 162px;
  height: 44px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 10px 10px -12px #7E7E7E;
  gap: 17px;
}

.exploration {
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.exploration .exploration__title {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 42px;
  padding-right: 58px;
}
.exploration .exploration__description {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 34px;
  padding-right: 26px;
}

.exploration__btn {
  height: 50px;
  border-style: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px -5px #7E7E7E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18.75px;
  padding-right: 18.75px;
  transition: all 300ms;
}
.exploration__btn:hover {
  cursor: pointer;
  filter: opacity(0.9);
  box-shadow: 0px 0px 20px -5px #7E7E7E;
}
.exploration__btn span {
  color: #FFFFFF;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement {
  padding-top: 48px;
  padding-bottom: 68px;
}
.fonctionnement .fonctionnement__title {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 26px;
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-left: 32.51px;
  padding-right: 20px;
}
.fonctionnement .fonctionnement__list .fonctionnement__list__rectangle {
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
  border-radius: 20px;
  background-color: #F6F6F6;
  gap: 27px;
  box-shadow: 0px 5px 15px -10px #7E7E7E;
}
.fonctionnement .fonctionnement__list .fonctionnement__list__rectangle span {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement__list__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  font-family: "roboto";
  font-size: 14.182px;
  font-weight: 500;
  margin: -11px;
}
.fonctionnement__list__counter .fa-solid {
  color: #7E7E7E;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-top: 22px;
  gap: 16px;
}
footer .footer__title {
  font-family: "shrikhand";
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
footer .footer__link {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 7px;
  padding: 0;
  margin: 0;
}
footer .footer__link a {
  display: flex;
  gap: 11px;
  color: #FFFFFF;
  font-family: "roboto";
  font-size: 16px;
}
footer .footer__link a .fa-utensils,
footer .footer__link a .fa-handshake-angle {
  height: 13px;
  width: 11px;
}

.restaurants {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #F6F6F6;
  font-family: "roboto";
  color: #000;
}

.restaurants__title {
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  padding-right: 18px;
  border-radius: 15px;
  width: 100%;
  gap: 18px;
}
.restaurants__cards .card {
  height: 251px;
  position: relative;
}
.restaurants__cards .card .card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 66%;
  width: 100%;
  object-fit: cover;
}
.restaurants__cards .card .card__content {
  padding-left: 13px;
  padding-right: 25px;
  background-color: white;
  height: 34%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants__cards .card .card__content .card__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants__cards .card .card__content .card__txt .card__title {
  font-size: 18px;
  font-weight: 700;
}
.restaurants__cards .card .card__content .card__txt .card__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__cards .card .card__new--position {
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants__cards .card .card__heart--position {
  position: absolute;
  top: 205px;
  right: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.card__new {
  border-radius: 2px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__new p {
  text-align: center;
  font-family: "roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #008766;
}

.card__heart--position {
  position: relative;
}
.card__heart--position .fa-solid {
  position: absolute;
}

.card__content .card__txt {
  white-space: nowrap;
  overflow: hidden;
}
.card__content .card__txt .card__title,
.card__content .card__txt .card__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__restaurants a {
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}

.background-img {
  width: 100%;
  height: 275px;
  padding: 0;
}
.background-img img {
  object-fit: cover;
  width: 100%;
  height: 310px;
}

.menu {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  gap: 40px;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px 0px;
}
.menu__title h1 {
  font-family: "shrikhand";
  font-size: 28px;
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.recipe .recipe__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  opacity: 0;
}
.recipe .recipe__title h2 {
  font-family: "roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.recipe .recipe__title .recipe__line {
  opacity: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.recipe .card {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px -10px #7E7E7E;
  opacity: 0;
}
.recipe .card .card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.recipe .card .card__content .card__txt {
  padding: 15px 0px 15px 15px;
  white-space: nowrap;
  overflow: hidden;
}
.recipe .card .card__content .card__txt .card__title {
  font-family: "roboto";
  font-weight: 700;
  overflow: hidden;
  font-size: 17.5px;
  text-overflow: ellipsis;
}
.recipe .card .card__content .card__txt .card__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe .card .card__content .card__price {
  display: flex;
  font-family: "roboto";
  font-weight: 700;
  font-size: 15px;
  padding-left: 5px;
}
.recipe .card .card__content .card__price .card__price__number {
  display: flex;
  align-items: flex-end;
  padding: 0px 15px 15px 0px;
}

.card .card__content .card__price .card__check {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
}
.card .card__content .card__price .card__check .fa-check__background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 0px;
  background-color: white;
  border-radius: 20px;
  opacity: 0;
}
.card .card__content .card__price .card__check .fa-check__background .fa-check {
  color: #99E2D0;
  opacity: 0;
}

.command {
  padding-bottom: 40px;
}
.command .command__btn {
  padding: 16px 48px 16px 48px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px -5px #7E7E7E;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.command .command__btn:hover {
  cursor: pointer;
  filter: opacity(0.9);
  box-shadow: 0px 0px 20px -5px #7E7E7E;
}
.command .command__btn span {
  color: white;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .menu {
    padding: 0;
  }
  .restaurants__cards {
    gap: 50px;
  }
  .restaurants__title,
  .card {
    margin: 0px 15% 0px 15%;
  }
  .recipe__title {
    padding: 0px 15%;
  }
  .fonctionnement {
    margin: 0px 15% 0px 15%;
  }
}
@media (min-width: 1024px) {
  .header__restaurants a {
    position: absolute;
    left: 200px;
  }
  .main-container {
    gap: 30px;
  }
  .exploration {
    gap: 18px;
  }
  .fonctionnement {
    padding: 50px 10% 50px 10%;
  }
  .fonctionnement .fonctionnement__list {
    flex-direction: row;
    gap: 40px;
  }
  .restaurants {
    padding: 25px 10% 25px 10%;
  }
  .restaurants .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 50px;
  }
  .restaurants__title,
  .card,
  .recipe__title {
    margin: 0px;
  }
  .recipe__title {
    padding: 0;
  }
  .fonctionnement {
    margin: 0px;
  }
  footer {
    height: 114px;
    padding: 30px 25px 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 60px;
  }
  footer .footer__link {
    flex-direction: row;
    gap: 30px;
  }
  .menu {
    margin: 0px 8%;
  }
  .recipe {
    padding: 0px 20%;
  }
}
.lds {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7E7E7E;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  animation: lds 2s cubic-bezier(0, 0.9, 0.46, 0.33);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.lds .lds__dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds .lds__dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.5s linear;
}

@keyframes lds {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card__heart--animation .fa-regular {
  cursor: pointer;
  font-size: 25px;
}
.card__heart--animation .fa-solid {
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
}
.card__heart--animation .fa-solid:hover {
  opacity: 1;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 0.7s ease-in-out;
}

.recipe__title,
.recipe__line {
  animation: reveal-card 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card {
  animation: reveal-card 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.recipe:nth-child(2) .recipe__title,
.recipe:nth-child(2) .recipe__line {
  animation-delay: 0s;
}
.recipe:nth-child(2) .card:nth-child(2) {
  animation-delay: 0s;
}
.recipe:nth-child(2) .card:nth-child(3) {
  animation-delay: 0.25s;
}
.recipe:nth-child(2) .card:nth-child(4) {
  animation-delay: 0.5s;
}
.recipe:nth-child(2) .card:nth-child(5) {
  animation-delay: 0.75s;
}

.recipe:nth-child(3) .recipe__title,
.recipe:nth-child(3) .recipe__line {
  animation-delay: 1s;
}
.recipe:nth-child(3) .card:nth-child(2) {
  animation-delay: 1s;
}
.recipe:nth-child(3) .card:nth-child(3) {
  animation-delay: 1.25s;
}
.recipe:nth-child(3) .card:nth-child(4) {
  animation-delay: 1.75s;
}

.recipe:nth-child(4) .recipe__title,
.recipe:nth-child(4) .recipe__line {
  animation-delay: 2s;
}
.recipe:nth-child(4) .card:nth-child(2) {
  animation-delay: 2.25s;
}
.recipe:nth-child(4) .card:nth-child(3) {
  animation-delay: 2.5s;
}
.recipe:nth-child(4) .card:nth-child(4) {
  animation-delay: 2.75s;
}

@keyframes reveal-card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card:hover .card__content .card__price .card__check {
  animation: animation-check 300ms ease-in-out;
  animation-fill-mode: forwards;
}
.card:hover .card__content .card__price .card__check .fa-check__background {
  animation: animation-fa-check-background 300ms ease-in-out;
  animation-fill-mode: forwards;
}
.card:hover .card__content .card__price .card__check .fa-check__background .fa-check {
  animation: animation-fa-check 300ms ease-in-out;
  animation-fill-mode: forwards;
}

.card:not(:hover) .card__content .card__price .card__check {
  animation: animation-check-reverse 300ms ease-in-out;
  animation-fill-mode: forwards;
}
.card:not(:hover) .card__content .card__price .card__check .fa-check__background {
  animation: animation-fa-check-background-reverse 300ms ease-in-out;
  animation-fill-mode: forwards;
}
.card:not(:hover) .card__content .card__price .card__check .fa-check__background .fa-check {
  animation: animation-fa-check-reverse 300ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animation-check {
  0% {
    width: 0px;
  }
  33% {
    width: 25px;
  }
  66% {
    width: 46px;
  }
  100% {
    width: 70px;
  }
}
@keyframes animation-check-reverse {
  0% {
    width: 70px;
  }
  33% {
    width: 46px;
  }
  66% {
    width: 25px;
  }
  100% {
    width: 0px;
  }
}
@keyframes animation-fa-check-background {
  0% {
    width: 0px;
  }
  33% {
    width: 25px;
    opacity: 1;
  }
  66% {
    width: 25px;
    opacity: 1;
  }
  100% {
    width: 25px;
    opacity: 1;
  }
}
@keyframes animation-fa-check-background-reverse {
  0% {
    opacity: 1;
    width: 25px;
  }
  33% {
    opacity: 1;
    width: 25px;
  }
  66% {
    width: 25px;
    opacity: 1;
  }
  100% {
    width: 0px;
  }
}
@keyframes animation-fa-check {
  0% {
    opacity: 0;
    width: auto;
  }
  33% {
    opacity: 0.5;
    width: auto;
    transform: rotate(135deg);
  }
  50% {
    opacity: 0.8;
    width: auto;
  }
  100% {
    opacity: 1;
    width: auto;
    transform: rotate(0deg);
  }
}
@keyframes animation-fa-check-reverse {
  0% {
    opacity: 1;
    width: auto;
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.8;
    width: auto;
  }
  66% {
    opacity: 0.5;
    width: auto;
    transform: rotate(135deg);
  }
  100% {
    opacity: 0;
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
